<mat-toolbar color="primary" >
  <div fxFlex="66" fxLayout="row">
    <mat-nav-list>
      <a mat-list-item href="http://www.bulpros.com/">
        bulpros.com
      </a>
      <a mat-list-item href="http://www.bulpros.com/">
        bulpros.com
      </a>
    </mat-nav-list>
  </div>
  <div fxFlex="33" fxLayoutAlign="end center">
    <a mat-line href="https://www.facebook.com/BULPROS/">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a mat-line href="https://www.linkedin.com/company/bulpros/">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</mat-toolbar>