<mat-toolbar color="primary" >
  <div fxFlex="66" fxLayout="row">
    <mat-nav-list>
      <a mat-list-item href="http://www.bulpros.com/" target="_blank" rel="nofollow">
        BULPROS
      </a>
    </mat-nav-list>
  </div>
  <div fxFlex="33" fxLayoutAlign="end center">
    <a mat-line class="footer-social" href="https://www.facebook.com/BULPROS/" target="_blank" rel="nofollow">
      <i class="fab fa-facebook-square"></i>
    </a>

    <a mat-line class="footer-social" href="https://www.linkedin.com/company/bulpros/" target="_blank" rel="nofollow">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</mat-toolbar>