<section class="blog-post" fxLayout="row" fxLayoutAlign="center">

  <mat-card fxFlex="400px">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ blogPost.title }}</h3>
      </mat-card-title>
      <mat-card-subtitle>Author: {{ blogPost.author }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ blogPost.description }}
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="accent" (click)="onAction1">Read</button>
    </mat-card-actions>
    <mat-card-footer align="end">
      <small>
        Published on: {{ blogPost.datePublished | date: 'mediumDate' }}
      </small>
    </mat-card-footer>
  </mat-card>

</section>