<section class="reset-password">
    <h3>Reset Password</h3>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%" [formGroup]="form" role="form" (ngSubmit)="reset()" novalidate>
        <mat-form-field>
            <input [formControl]="email" placeholder="Email" required email type="text" class="form-control" id="email" name="email"
                matInput>
            <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is not valid.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button [disabled]="form.invalid" color="accent">
            Send verification email
        </button>
    </form>
</section>