<section class="login-form">
    <h3>Please Log In</h3>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1%" [formGroup]="form" role="form" (ngSubmit)="login()" novalidate>
        <mat-form-field>
            <input class="form-control" type="email" matInput placeholder="Email" [formControl]="email" required email name="email"/>
            <mat-error *ngIf="email.hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="email.hasError('email')">Email is not valid.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input class="form-control" type="password" matInput placeholder="Password" required [formControl]="password" name="password" />
            <mat-error *ngIf="password.hasError('required')">Password is required.</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Log In</button>
    </form>
</section>

<!-- <form [formGroup]="form" role="form" (ngSubmit)="login()" novalidate>
    <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email">Email</label>
        <input [formControl]="email" required type="text" class="form-control" id="email" name="email">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="email.valid || email.pristine">Enter your email address</li>
                <li *ngIf="email.dirty && email.hasError('required')">An email address is required</li>
            </ul>
        </div>
    </div>
    <div class="form-group" [class.has-error]="password.invalid && password.touched">
        <label for="password">Password</label>
        <input [formControl]="password" type="password" class="form-control" id="password" name="password">
        <div class="help-block">
            <ul class="list-unstyled">
                <li *ngIf="password.valid || password.pristine">Enter your password</li>
                <li *ngIf="password.dirty && password.hasError('required')">A password is required</li>
            </ul>
        </div>
    </div>
    <button type="submit" class="btn btn btn-primary">
        Log In
    </button>
</form> -->